@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{
	text-decoration: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: Montserrat, sans-serif;
	font-size: 10px;
}

.wrap{
	width: 40.5em;
	margin: 0 auto;
}
.header__nav-logo{
	object-fit: contain;
	width: 18em;
}
.header__nav-img{
	height: 3em;
	width: 3em;
	margin-right: 2em;
}
.header__info{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.header__nav-item img{
	height: 0.8em;
	width: 0.8em;
	margin-left: 0.5em;
}
.header__nav-item:nth-child(1){
	color: #F14D34;;
}

.header__nav-item{
	border-top: 1px solid grey;
	width: 100%;
	color: white;
	font-size: 1.2em;
	padding: 0.7em;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}
.header__nav-menu{
	display: none;
	flex-direction: column;
	position: fixed;
	width: 100%;
	background-color: black;
	z-index: 100000;
	left: 0;
	right: 0;
	bottom: 5em;
	border-bottom: 1px solid white;
}
.active{
	display: flex;
}
.header__nav-subitem{
	border-top: 1px solid grey;
	width: 100%;
	text-transform: uppercase;
	color: white;
	font-size: 1.2em;
	padding: 0.7em;
	display: flex;
	padding-left: 1.5em;
	align-items: center;
}
.header{
	position: relative;
	width: 100%;
	height: 78.5em;
	padding-top: 4em;
}

.header__nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	height: 5em;
	background-color: black;
	z-index: 100000;
	left: 0;
	right: 0;
	bottom: 0;
}
.video {
    height: 78.5em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    object-fit: cover;
    width: 100%;
}
.druplicon{
    width: 100%;
    height: 35em;
    background: url("../img/druplicon.svg") center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}
.toner{
	background-color: #111;
    opacity: 0.9;
    height: 78.5em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.header__wrap{
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.header__text{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.header__title{
	text-align: center;
	font-size: 2.4em;
	width: 10em;
	line-height: 1.2;
	color: white;
}
.header__subtitle{
	color: white;
	font-size: 1.4em;
	text-align: center;
	line-height: 1.6;
	width: 23em;
}
.header__button{
	border: 2px solid #F14D34;
	width: 18.3em;
	height: 5em;
	display: flex;
	font-size: 1.2em;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	color: white;
	border-radius: 5px;
	transition: background 300ms;
	letter-spacing: 0.06em;
	margin-top: 8em;

}
.header__button:hover{
	background: #f14d34;
}
.header__about{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 6em;
}
.header__about-block{
	border-left: 3px solid #F14D34;
	padding-left: 1em;
	width: 50%;
	display: flex;
	flex-direction: column;
	color: white;
	margin-bottom: 3em;
}
.header__about-block-title{
	padding-top: 1.2em;
	font-size: 2.4em;
	display: flex;

}
.header__text-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header__about-block-title-img{
	background: url("../img/cup.png") center center no-repeat;
	width: 1.1em;
	height: 1.1em;
	background-size: cover;
}
.header__about-block:first-child .header__about-block-title {
	padding-top: 0;
	font-size: 4.8em;
}
.services{
	padding: 7em 0 0 ;
}
.services__title{
	font-size: 2.4em;
	font-weight: bold;
	color: #050c33;
	margin-bottom: 1.2em;
}
.services__subtitle{
	font-weight: 500;
	font-size: 1.6em;
	color: #4f5a73;
	margin-bottom: 3.75em;
}
.services__block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.services__block-item:nth-child(even){
	margin-left: 3em;
}
.services__block-item{
	position: relative;
	width: 18.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #4f5a73;
	margin-bottom: 2em;
	height: 19em;
}
.services__block-item-header{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services__block-item-img{
	background-position: center;
	width: 7.7em;
	height: 7.7em;
	background-size: cover;
	margin-bottom: 3em;
}
.services__block-item::before{
	background: url("../img/icon-bg.svg") center center no-repeat;
	background-size: cover;
	left: 0;
	top: 1.2em;
	content: "";
	height: 7.1em;
	width: 11.4em;
	position: absolute;
}
.services__block-item-text{
	font-size: 1.4em;
}
